[user]
	name = Mohammed Babiker
	email = mobabikerbabai20@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gitbutler]
	aiModelProvider = openai
	aiOpenAIKeyOption = butlerAPI
	aiOpenAIModelName = gpt-3.5-turbo
	aiAnthropicKeyOption = butlerAPI
[alias]
	st = status
	cv = commit
