[user]
	name = Mohammed Babiker
  user = mohammedbabiker
	email = mobabikerbabai20@gmail.com
	signingkey = mobabikerbabai20@gmail.com
[core]
	editor = vim
  #pager = delta
	excludesfile = /Users/mohammedbabai/.gitignore_global
  whitespace = error  # Treat whitespace errors (like trailing spaces) as errors
  # compression = 9 # high compression to save space
  # preloadindex = true # speed up by caching
[alias]
  conf = config --global --edit
  npc = log --oneline --branches --not --remotes # show not pushed commit for reset/revert
[init]
	defaultBranch = main
[status]
  # branch = true # Show current branch in status output
  showStash = true
  showUntrackedFiles  = all
[push]
  autoSetupRemote = true # auto set remote branch
  default = current # push only current branch by default
  followTags  = true
[pull]
  default = current
  rebase  = true # Rebase instead of merge when pulling
[rebase]
  autoStash = true
  missingCommitCheck  = warn
[log]
  abbrevCommit  = true # short commits
[color]
  ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gitbutler]
	aiModelProvider = openai
	aiOpenAIKeyOption = butlerAPI
	aiOpenAIModelName = gpt-3.5-turbo
	aiAnthropicKeyOption = butlerAPI
[help]
  autocorrect = 1
[merge]
  tool = nvim
  conflictstyle = diff3
[interactive]
  diffFilter = delta --color-only
  singlekey = true  # no need to Enter after select
[delta]
  navigate = true    # N, n move between diff sections
  side-by-side = true
  dark = true
[diff]
  colorMoved = default
	submodule = log
[rerere]
	enabled = true
	autoupdate = true
[diff "word"]
	textconv = doc2text
[diff "exif"]
	textconv = exiftool
[commit]
	gpgSign = true
[tag]
	gpgSign = true
