* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 16px;
	min-height: 0px;
}

window#waybar {
	background: transparent;
	transition-duration: 0.5s;
}

#workspaces button {
	padding: 0 10px;
	color: #a79b8f;
}

#workspaces button.active {
	color: #a79b8f;
}

#workspaces button:hover {
	background-color: transparent;
}

#workspaces button.urgent {
	border-bottom: 2px solid #ffcc00;
}

#submap {
	border-bottom: 2px solid #fb4934;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-github,
#custom-power_vertical,
#custom-power,
#custom-speaker,
#custom-updater,
#custom-weather {
	padding: 3px 6px 3px 6px;
	opacity: 0.8;
}

#battery.warning,
#disk.warning,
#memory.warning,
#cpu.warning {
  color: #ed5e5d;
  background: none;
	border-bottom: 2px solid #fabd2f;
}

#battery.critical,
#disk.critical,
#memory.critical,
#cpu.critical {
	color: #ed5e5d;
	border-bottom: 2px solid #fb4934;
}

#battery {
	color: #a6e3a1;
}

#battery.charging {
	color: whitesmoke;
	border-bottom: 1px solid #1aac57;
}

#network {
	color: #f9e2af;
	padding-right: 10px;
}

#network.disconnected {
	color: #ed5e5d;
}

#clock {
	color: #fab387;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #928374;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: #b8bb26;
}

#pulseaudio.microphone {
	font-size: 15px;
	color: #cba6f7;
}

#backlight {
	color: #cccccc;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: #928374;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: #b8bb26;
}

#idle_inhibitor {
	font-size: 14px;
	font-weight: bold;
	color: #fab387;
}

#idle_inhibitor.activated {
	font-size: 13px;
	color: #e67935;
	min-height: 0px;
	min-width: 0px;
}

#custom-github {
	color: #ed5e5d;
}

#custom-updater {
	color: #c8c1b9;
}

#custom-menu {
	font-size: 1.5rem;
}
