* {
	background: #1d2021;
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 16px;
	/* opacity: 0.8; */
}

window#waybar {
	background: #1d2021;
	color: #928374;
	transition-property: background-color;
	transition-duration: 0.5s;
	/* opacity: 0.8; */
}

#workspaces button {
	padding: 0 10px;
	color: #928374;
}

#workspaces button.active {
	border-bottom: 1px solid #b8bb26;
}

#workspaces button.urgent {
	border-bottom: 2px solid #fabd2f;
}

#submap {
	border-bottom: 1px solid #fb4934;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-github,
#custom-power_vertical,
#custom-power,
#custom-speaker,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	color: #aa9785;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
}

#battery.warning,
#disk.warning,
#memory.warning,
#cpu.warning {
	border-top: 3px solid #1d2021;
	border-bottom: 3px solid #fabd2f;
}

#battery.critical,
#disk.critical,
#memory.critical,
#cpu.critical {
	border-top: 3px solid #1d2021;
	border-bottom: 3px solid #fb4934;
}

#battery.charging {
	border-top: 3px solid #1d2021;
	border-bottom: 1px solid #1aac57;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #928374;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: #b8bb26;
}

#pulseaudio.microphone {
	font-size: 15px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: #928374;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: #b8bb26;
}

#idle_inhibitor {
    font-size: 14px;
    font-weight: bold;
}

#idle_inhibitor.activated {
    font-size: 14px;
    color:#e2974c;
	min-height: 0px;
	min-width: 0px;
}
